.btn-add {
    margin-left: 65px !important;
}

.danger {
    width: 1096px !important;
    float: right !important;
}

td {
    display: table-cell !important;
    vertical-align: middle !important; /* Important */
}

.price {
    color: #fe6f42;
    font-weight: bold;
}


.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.show {
    display: block !important;
}

.hide  {
    display: none;
}

label.error {
    display: list-item;
    margin-top: 5px;
    color: #842029;
}


#search-input-food {
    position: relative;
    margin-bottom: 30px;
    margin-top: -18px;
}
#search-input-food {
    position: relative;
}

#search-icon {
    position: absolute;
    top: 11px;
    font-size: 20px;
    right: 25px;
    z-index: 1;
}

/*image preview*/
.image-box, .image-box-up {
    margin: 0 auto;
    margin-top: 28px;
    height: 350px;
    width: 250px;
    cursor: pointer;
    overflow: hidden;
}
#viewImageCre, #viewImageUp {
    height: 100%;
    display: none;
}
#uploadIconCre, #uploadIconUp {
    position: relative;
    top: 45%;
    font-size: 100px;
    color: #1abc9c;
}
.tellUpload {
    position: relative;
    top: 38%;
    color: #1abc9c;
    font-weight: 300;
}
#search-icon:hover {
    cursor: pointer;
}
.film-details-content {

}
.dropdown-toggle {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
}

