
.avatarListImageProduct{
    width:80px;
    height: 80px;
}

/*.modal-backdrop{*/
/*    display:none !important;*/
/*}*/

#modalUpdateStaff .modal-header{
    background-color: #83c3ec;
}

#modalUpdateProduct .modal-header{
    background-color: #1b9f0b;
}

.modal .modal-title {
    color:black;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.frm-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.frm-alert-danger label {
    display: list-item;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1070;
}
#loading {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loading:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loading:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
header {
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

header .btn {
    float: right;
    min-width: 50px;
    outline: none !important;
    margin-top: 10px;
    margin-left: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    padding-right: 50px;
    color: #0f5132;
}

.message-success{
    color:green;
}

#message-alert {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.alert-success {
    padding: 1rem 135px;
}

.alert-danger {
    padding: 1rem 135px;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

label.error {
    display: list-item;
    margin-top: 5px;
    color: #842029;
}

.modal-header-create {
    background-color: #49ab2b;
    color: #fff;
}

.modal-header-update {
    background-color: #17b4fb;
    color: #fff;
}

.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: red;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

/*End Loader*/