.table {
    margin-top: 18px;
    background-color: #fff;
}
.addFood {
    left: 300px;
    top: 13px;
}
.headerCre {
    left: 18px;
}
.modal-header{
    background-color: #8ccbd1;
}
.card {
    bottom: 17px;
}
​
table {
    background: white;
    width: 240px;
    border-collapse: separate;
    margin: 20px;
    height: 250px;
}
.alert-dismissible .close {
    padding: .55rem 1.25rem;
    text-shadow: none;
}
​
.alert-dismissable .close, .alert-dismissible .close {
    opacity: 0.5;
}
​
.select2-container-multi .select2-choices .select2-search-choice-close {
    top: 6px;
}
#create {
    border-radius: 20px;
}
#BackCre{
    color: #0b0b0b ;
    margin-right: 46px;
    width: 100px;
    margin-top: -10px;
    border-radius: 36px;
}
.h4{
    top: 10px;
    left: 25px;
}