.container{
    margin-top: 100px;
    display: flex;
    text-align: center;
    font-size: 22px;
}
.movie-full{
    width: 60%;
    height: 90%;
}
.ul{
    align-content: center;
    margin-left: 80%;
}