.card-box{
    background-color: #fff;
    padding: 0px;
    width:100%
}

.film-details-wrap {
    position: relative;
    width: 100%;
    max-width: 1300px;
    display: block;
    margin: 0 auto;
}
.film-details-wrap .film-item {
    width: 100%;
    height: auto;
    padding: 20px;
    overflow: hidden;
}
.film-details-wrap .film-item-pic {
    width: 38%;
    max-width: 470px;
    float: left;
}
.film-details-wrap .film-item-pic img {
    width: 100%;
    height: 500px;
    border: 9px solid #fae2a2;
    display: block;
}
.film-details-wrap .film-item-txt {
    float: right;
    width: 60%;
    min-height: 500px;
    box-shadow: 10px 10px 10px 0 rgb(0 0 0 / 30%), 0 0 50px 0 rgb(0 0 0 / 40%) inset;
    background-color: #f18720;
    padding: 30px 40px;
}
.film-details-wrap .film-item-txt h3 {
    font-family: 'Futurab';
    font-weight: normal;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    color: #fff;
    text-align: left;
    margin-bottom: 30px;
}
.film-overview {
    max-height: inherit;
    overflow: inherit;
    display: table;
    margin-bottom: 10px;
}
.film-details-wrap .film-item-type {
    width: 100%;
    margin-bottom: 15px;
}
.film-details-wrap .film-item-but {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.l-title {
    display: table-cell;
    width: 100px;
    font-family: 'MyriadLight';
    font-weight: normal;
    font-size: 18px;
    vertical-align: middle;
    color: #fff;
}
.l-value {
    display: table-cell;
    line-height: 18px;
    background-color: #fff;
    font-family: 'MyriadBold';
    font-weight: normal;
    font-size: 20px;
    color: #000;
    border-radius: 20px 0 20px 0;
    -webkit-border-radius: 20px 0 20px 0;
    padding: 12px 30px;
    vertical-align: middle;
}
.film-item-txt p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    text-align: left;
    margin-bottom: 10px;
}