.avatarListImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hide {
    display: none;
}

.frm-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    font-size: 15px;
}

.modal-alert-danger label {
    display: list-item;
}

.error {
    color: #842029;
    font-size: inherit;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}

#cardId {
    width: 200px;
    height: 164px;
}

label {
    font-weight: unset;
}

.card {
    margin-bottom: unset;
    border: 0;
}

body {
    font-family: Ionicons;
    color: black;
}

.table {
    color: black;
    background-color: white;
}

.table>thead>tr {
    border-bottom: ridge;
    border-top: ridge;
}

.card-body {
    padding: 0.5rem;
}

.modal-xl {
    max-width: 1000px;
}

.listPage {
    padding: 10px;
    list-style: none;
}

.listPage li{
    background-color: rgba(255, 255, 255, 0.66);
    padding: 15px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.listPage .active{
    background-color: #bcabe1;
    color: #fff;
}

.modal-showtime {
    max-width: 900px;
    left: 60px;
}
.page-title-box .page-title-right{
    margin-top: 5px;
}

.left-side-menu {
    padding: 0;
}

#sidebar-menu>ul>li>a {
    padding: 10px 17px;
}

#sidebar-menu>ul>li>a.active{
    background-color: unset;
}


